.login{
    height: 100vh;
    position: relative;
display: flex;
justify-content: center;
align-items: center;

background-color: rgb(60, 60, 60);
}

.login-signin{
width: 25em;
height: auto;
border-radius: 15px;
padding: 2em;
margin-bottom: 5em;
border: 2px solid rgb(160, 160, 160);
background-color: rgb(90, 90, 90);
}

.login p{
    font-size: 2em;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.login form{
display: grid;
    
    margin-top: 2em;
}

.login button{
    justify-content: center;
    margin-top: 1.2em;
}